body {
    background-color: rgb(162, 30, 74);
    
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: floralwhite;
  }

h2 {
  text-align: center;
  text-shadow: 1px 1px 3px rgb(206, 55, 123);
}

h3 {
  text-align: left;
  text-transform: uppercase;
  text-shadow: 1px 1px 3px rgb(206, 55, 123);
}

a {
  background-color: floralwhite;
  border: none;
  color: rgb(210, 58, 109);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 15px;
  cursor: pointer;
  transition-duration: 0.4s;
  width: 100%;
}

a:hover {
  background-color: rgb(210, 58, 109);
  color: floralwhite;
}

#profile_photo {
  opacity: 100%;
  width: 200;
  height: 200;
  border: floralwhite 2px solid;
  border-radius: 50%;
}

div.gallery {
  border: 1px solid #ccc;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}

* {
  box-sizing: border-box;
}

.responsive {
  padding: 0 6px;
  float: left;
  width: 24.99999%;
}

@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}