* {
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(
        0deg,
        rgba(247, 247, 247, 1) 23.8%,
        rgba(252, 221, 221, 1) 92%
    );
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    color: rgba(252, 169, 169, 1);
    padding: 25px;
}

.game-container {
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 20px 20px 0 rgba(252, 169, 169, 0.6);
    padding: 20px 30px;
    position: relative;
    margin: 50px 0;
    width: 400px;
    font-size: 1.5rem;
    color: #fff;
}

.game-display {
    background-color:rgba(252, 169, 169, 0.6); 
    border-radius: 15px;
    box-shadow: 0 5px 5px 0 rgba(199, 182, 182, 0.5);
    padding: 10px;
    text-align: center;
}

.keyboard {
    display: grid;
    grid-template-columns: repeat(3, 33.3333%);
    grid-template-rows: repeat(5, 50px);
    padding: 10px;
}

button {
    background-color: rgba(252, 169, 169, 0.6);
    margin: 3px;
    border: none;
    border-radius: 15px;
    box-shadow: 0 5px 5px 0 rgba(199, 182, 182, 0.5);
    font-size: 1.5rem;
    color: #fff;
}

button:active {
    background-color: rosybrown;
}

#secret-code {
    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: repeat(1, 50px);
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted rosybrown;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 500px;
    background-color: rgba(188, 143, 143, 0.733);
    color: #fff;
    text-align: left;
    padding: 5px 0;
    border-radius: 15px;
    position: absolute;
    z-index: 1;
    margin-left: -250px;
    bottom: 100%;
    left: 50%;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

@media screen and (max-width: 600px) {
    .game-container {
        width: 90%;
    }

    .tooltip .tooltiptext {
        width: 250px;
        margin-left: -125px;
    }
}